/* selector universal:
 *{
    color: pink;
} */

/* selector de etiqueta o tipo: */
h1 {
    color:olivedrab;
}

/* Declaracion multiple: */
h2, h3{
    color: fuchsia;
}

/* selector desecendiente */
p span {
    color: gold;
}

/* selector de clase */
.clase {
    color: yellow;
}

/* selector de id*/
#id{
    color: orangered;
}

/*combinacion de selectores basicos*/
span.combinar span#combinacion{
    color: brown;
}